
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumb-box">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="active">Quản lý sản phẩm</li>
        </ul>
    </div>
</div><!-- .breadcrumb-box -->

<section id="main">
    <header class="page-header">
        <div class="container">
            <div class="row">
                <div class="demo-container" style="margin-bottom:40px">
                    <div id="gridContainer"></div>
                </div>
            </div>
        </div>        
    </header>
</section>

<script type="text/javascript">
    $(function () {
        $("#gridContainer").dxDataGrid({
            dataSource: {
                store: {
                    type: "odata",
                    url: "../API/LoadProductData",
                    //beforeSend: function (request) {
                    //    request.params.startDate = "2018-05-10";
                    //    request.params.endDate = "2018-05-15";
                    //}
                }
            },
            paging: {
                pageSize: 10
            },
            pager: {
                showPageSizeSelector: true,
                allowedPageSizes: [10, 25, 50, 100]
            },
            remoteOperations: false,
            searchPanel: {
                visible: true,
                highlightCaseSensitive: true
            },
            groupPanel: { visible: true },
            grouping: {
                autoExpandAll: true
            },
            allowColumnReordering: true,
            rowAlternationEnabled: true,
            showBorders: true,
            allowColumnResizing: true,

            columns: [
                {
                    caption: "Loại sản phẩm",
                    dataField: "TypeName",
                    groupIndex: 0
                },
                {
                    caption: "Loại sản phẩm",
                    dataField: "SubTypeName",
                    groupIndex: 1
                },
                {
                    dataField: "GImage",
                    cellTemplate: function (element, info) {
                        console.log("vào dây");
                        console.log(info.value.Path);
                        element.append("<div>  <img alt='Image' src='" + info.value.Path + "' title='' width='70' height='70'></div>");
                    },
                    with:70
                },
                {
                    dataField: "Name",
                    caption: "Tên sản phẩm",
                    dataType: "string",
                    //format: "currency",
                    //alignment: "right",
                },
               
                {
                    dataField: "Price",
                    caption: "Giá",
                    //dataType: "number",
                    format: "currency",
                    //displayFormat: "VND {0}",
                    alignment: "right",
                },
                {
                    dataField: "CRUDDate",
                    caption: "Ngày tạo",
                    dataType: "date"
                },
                {
                    dataField: "Code",
                    caption: "Mã",
                    dataType: "string",
                    width: 100
                },
                //{
                //    caption: "Xuất xứ",
                //    dataField: "Origin",
                //    dataType: "string",
                //},
                {
                    caption: "Màu",
                    dataField: "Color",
                    dataType: "string",
                    width: 100
                },
                {
                    caption: "Chất liệu",
                    dataField: "Stuff",
                    dataType: "string",
                    width: 100
                },
                //{
                //    dataField: "Size",
                //    dataType: "string",
                //    width: 150
                //},
                {
                    caption: "Bán chạy",
                    dataField: "IsBestSelling",
                    dataType: "boolean",
                    width: 70
                }

            ],
            //onContentReady: function (e) {
            //    if (!collapsed) {
            //        collapsed = true;
            //        e.component.expandRow(["EnviroCare"]);
            //    }
            //}
        });
    });
    
    var collapsed = false;
</script>
