
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /*td > div{
        width: 100px;
        height: 100px;
    }*/
    td > div > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
</style>
<div class="breadcrumb-box">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="active">Quản lý sản phẩm</li>
        </ul>
    </div>
</div><!-- .breadcrumb-box -->

<section id="main">
    <header class="page-header">
        <div class="container">
            <div class="row">
                <div class="demo-container" style="margin-bottom:40px">
                    <div id="gridContainer"></div>
                </div>
            </div>
        </div>        
    </header>
</section>
<button id="btnSweel">Click Me</button>
<script type="text/javascript">
    $(function () {

        $.ajax({
            url: 'API/LoadProductData',
            type: "GET",
            dataType: "json",
            success: function (d) {
                $("#gridContainer").dxDataGrid({

                    dataSource: d,
                    keyExpr: "Id",
                    paging: {
                        pageSize: 10
                    },
                    pager: {
                        showPageSizeSelector: true,
                        allowedPageSizes: [10, 25, 50, 100]
                    },
                    remoteOperations: false,
                    searchPanel: {
                        visible: true,
                        highlightCaseSensitive: true
                    },
                    groupPanel: { visible: true },
                    grouping: {
                        autoExpandAll: true
                    },
                    //allowColumnReordering: true,
                    //rowAlternationEnabled: true,
                    showBorders: true,
                    allowColumnResizing: true,
                    editing: {
                        mode: "popup",
                        allowUpdating: false,
                        allowDeleting: true,
                        allowAdding: false,
                        useIcons: true
                    },
                    columns: [
                        {
                            caption: "Loại sản phẩm",
                            dataField: "TypeName",
                            groupIndex: 0
                        },
                        {
                            caption: "Loại sản phẩm",
                            dataField: "SubTypeName",
                            groupIndex: 1
                        },
                        {
                            caption: "Ảnh",
                            dataField: "GImage",
                            cellTemplate: function (element, info) {
                                element.append("<div>  <img alt='Image' src='" + info.value.Path.substring(2, info.value.Path.length) + "' title=''></div>");
                            },
                            with: 70
                        },
                        {
                            dataField: "Name",
                            caption: "Tên sản phẩm",
                            dataType: "string",
                        },

                        {
                            dataField: "Price",
                            caption: "Giá",
                            format: "#,##0 đ",
                            alignment: "right",
                        },
                        {
                            dataField: "CRUDDate",
                            caption: "Ngày tạo",
                            dataType: "date",
                            format: "d/M/yyyy",
                            alignment: 'center'
                        },
                        {
                            dataField: "Code",
                            caption: "Mã",
                            dataType: "string",
                            width: 100
                        },
                        {
                            caption: "Xuất xứ",
                            dataField: "Origin",
                            dataType: "string",
                        },
                        {
                            caption: "Màu",
                            dataField: "Color",
                            dataType: "string",
                            width: 100
                        },
                        {
                            caption: "Chất liệu",
                            dataField: "Stuff",
                            dataType: "string",
                            width: 100
                        },
                        //{
                        //    dataField: "Size",
                        //    dataType: "string",
                        //    width: 150
                        //},
                        {
                            caption: "Bán chạy",
                            dataField: "IsBestSelling",
                            dataType: "boolean",
                            width: 70
                        },
                        {
                            dataField: 'Id',
                            width: 100,
                            alignment: 'center',
                            cellTemplate: function (container, options) {
                                $('<a/>').addClass('dx-link')
                                    .text('Edit')
                                    .on('dxclick', function () {
                                        AddToCart(options.value);
                                    })
                                    .appendTo(container);
                                //$('<a/>').addClass('dx-link')
                                //    .text('Delete')
                                //    .on('dxclick', function () {
                                //        Delete(options.value);
                                //    })
                                //    .appendTo(container);
                            }
                        }
                    ],
                    onRowRemoved: function (e) {
                        console.log(e.data.Id);
                        //var editObj = {
                        //    editType: 2,
                        //    key: e.key,
                        //    data: e.data
                        //};
                        //$.ajax({
                        //    url: '/API/DeleteProduct',
                        //    type: "POST",
                        //    dataType: "JSON",
                        //    data: JSON.stringify(e.data.Id),
                        //    contentType: 'application/json',
                        //    success: function (obj) {
                        //        DevExpress.ui.notify(obj.Msg, obj.StatusStr, 1200);
                        //    }
                        //});
                        APIPost('/API/DeleteProduct', e.data.Id);
                    },

                });
            }
        });
      
    });

    function APIPost(urlStr, e) {
        $.ajax({
            url: urlStr,
            type: "POST",
            dataType: "JSON",
            data: JSON.stringify(e),
            contentType: 'application/json',
            success: function (obj) {
                // Thông báo
                DevExpress.ui.notify(obj.Msg, obj.StatusStr, 1200);
            }
        });
    }

</script>
