
@{
    //ViewData["Title"] = "ProductSubType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="breadcrumb-box">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="active">Quản lý sản phẩm</li>
        </ul>
    </div>
</div><!-- .breadcrumb-box -->

<section id="main">


    <div class="container">
        <div class="row">
            <article class="content pull-right col-sm-9 col-md-9">
                <header class="page-header">
                    <div class="container">
                        <h5 class="title ">Danh mục sản phẩm con</h5>
                    </div>
                </header>
                <br />
                <div class="row">
                    <div style="margin-bottom:40px">
                        <div id="gridContainer"></div>
                    </div>
                </div>
            </article><!-- .content -->
            <partial name="_LeftSidebar" />
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function () {
        var luDataProductType = {
            store: new DevExpress.data.CustomStore({
                key: "Id",
                loadMode: "raw",
                load: function () {
                    return $.ajax({
                        url: '/API/LoadProductType',
                        type: "GET",
                        dataType: "json",
                        success: function (d) {
                            return d;
                        }
                    });
                }
            }),
            sort: "UserName"
        }

        $.ajax({
            url: '/API/LoadProductSubType',
            type: "GET",
            dataType: "json",
            success: function (d) {
                $("#gridContainer").dxDataGrid({
                    dataSource: d,
                    keyExpr: "Id",
                    paging: {
                        pageSize: 10
                    },
                    pager: {
                        showPageSizeSelector: true,
                        allowedPageSizes: [10, 25, 50, 100]
                    },
                    remoteOperations: false,
                    searchPanel: {
                        visible: true,
                        highlightCaseSensitive: true
                    },
                    groupPanel: { visible: true },
                    grouping: {
                        autoExpandAll: true
                    },
                    //allowColumnReordering: true,
                    //rowAlternationEnabled: true,
                    showBorders: true,
                    allowColumnResizing: true,
                    editing: {
                        mode: "popup",
                        allowUpdating: true,
                        allowDeleting: true,
                        allowAdding: true,
                        useIcons: true
                    },
                    columns: [
                        {
                            dataField: "Name",
                            caption: "Loại sản phẩm",
                            dataType: "string",
                        },
                        {
                            dataField: "Description",
                            caption: "Mô tả",
                            dataType: "string",
                        },
                        {
                            dataField: "CRUDDate",
                            caption: "Ngày tạo",
                            dataType: "date",
                            format: "dd/MM/yyyy",
                            alignment: 'center',
                            allowEditing: false,
                            editCellTemplate: EditCellTemplateDate,

                        },
                        {
                            dataField: "ProductTypeId",
                            caption: "Loại sản phẩm",
                            lookup: {
                                dataSource: luDataProductType,
                                valueExpr: "Id",
                                displayExpr: "Name",
                            },
                        },
                    ],
                    onRowRemoved: function (e) {
                        var editObj = {
                            editType: 2,
                            key: e.key,
                            data: e.data
                        }
                        APIPost('/API/SaveProductSubType', editObj);
                    },
                    onRowUpdated: function (e) {
                        var editObj = {
                            editType: 1,
                            key: e.key,
                            data: e.data
                        }
                        APIPost('/API/SaveProductSubType', editObj);
                    },
                    onRowInserted: function (e) {
                        var editObj = {
                            editType: 0,
                            key: e.key,
                            data: e.data
                        }
                        APIPost('/API/SaveProductSubType', editObj);
                    },
                });
            }
        });

    });
</script>
