@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div id="sidebar" class="sidebar col-sm-3 col-md-3">
    <aside class="widget menu">
        <nav>
            <ul>
                <li class="parent active">
                    <a href="#"><span class="open-sub"></span>Sản phẩm</a>
                    <ul class="sub">
                        <li><a asp-area="" asp-controller="Detail" asp-action="Create">Thêm sản phẩm</a></li>
                        <li><a class="active" asp-area="" asp-controller="Detail" asp-action="Index">Danh sách sản phẩm</a></li>
                        <li><a asp-area="" asp-controller="Detail" asp-action="ProductType">Danh mục sản phẩm</a></li>
                        <li><a asp-area="" asp-controller="Detail" asp-action="ProductSubType">Danh mục sản phẩm con</a></li>
                        <li><a asp-area="" asp-controller="Detail" asp-action="BannerEdit">Thay đổi thông tin chính</a></li>
                        <li><a asp-area="" asp-controller="Detail" asp-action="About">Giới thiệu</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
    </aside><!-- .menu-->
</div><!-- .sidebar -->