
@{
    ViewData["Title"] = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="main">
    <header class="page-header">
        <div class="container">
            <h1 class="title">Giới thiệu</h1>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="content col-sm-12 col-md-12">
                <div class="row">
                    <div class="col-sm-12 col-md-12 contact-info bottom-padding-mobile">
                        <div class="row">
                            <div class="tab-pane active" id="description">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .container -->
    <div id="desHide" style="display: none">@Model.Content</div>
    <script type="text/javascript">
        var htmlCode = $("#desHide").text();
        var $log = $("#description"),
            str = htmlCode,
            html = $.parseHTML(str),
            nodeNames = [];
        // Append the parsed HTML
        $log.append(html);
    </script>
</section><!-- #main -->
