@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="banner-set banner-set-mini load">
    <div class="container">
        <a class="prev" href="#"><span class="glyphicon glyphicon-arrow-left"></span></a>

        <div class="banners">
            @for (int i = 0; i < Model.allBanners.Count; i = i + 1)
            {
                <a asp-area="" asp-controller="Detail" asp-action="Details" asp-route-id="@Model.allBanners[i].Id" class="banner">
                    <img alt="Image" src="@Url.Content(Model.allBanners[i].GImage.Path)" title="" width="253" height="158">

                    <h2 class="title">@Model.allBanners[i].Name</h2>
                </a>
            }

        </div><!-- .banners -->

        <a class="next" href="#"><span class="glyphicon glyphicon-arrow-right"></span></a>

        <div class="clearfix"></div>
    </div>
</div><!-- .banner-set -->