
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <aside class="widget menu">
        <header>
            <h3 class="title">Danh sách sản phẩm</h3>
        </header>
        <nav>
            <ul>
                <li><a href="#">Mẫu nhà ở</a></li>
                <li class="parent active">
                    <a href="#"><span class="open-sub"></span>Sofa</a>
                    <ul class="sub">

                        @for (int i = 0; i < Model.allProductTypes.Count; i++)
                        {
                            <li><a href="#">@Model.allProductTypes[i].Name</a></li>
                        }

                    </ul>
                </li>
                @*<li class="parent active">
                    <a href="#"><span class="open-sub"></span>Giường </a>
                    <ul class="sub">
                        <li><a href="#">Integer rutrum accumsan</a></li>
                        <li><a href="#">Fusce egestas mauris</a></li>
                    </ul>
                </li>
                <li><a href="#">Mẫu Văn phòng</a></li>
                <li class="parent active">
                    <a href="#"><span class="open-sub"></span>Curabitur volutpat</a>
                    <ul class="sub">
                        <li><a href="#">Integer rutrum accumsan</a></li>
                        <li><a href="#">Fusce egestas mauris</a></li>
                        <li><a href="#">Phasellus justo turpis</a></li>
                        <li><a href="#">Vestibulum non nisi</a></li>
                        <li><a href="#">Nam fermentum ipsum</a></li>
                        <li><a href="#">Sed id erat augue</a></li>
                    </ul>
                </li>*@
            </ul>
        </nav>
    </aside><!-- .menu-->
    <aside class="widget shop-by">
        <header>
            <h3 class="title">Shop By</h3>
        </header>
        <div class="section">
            <h4 class="subtitle">Currently Shopping by:</h4>
            <ul class="selected">
                <li>
                    <span><i class="fa fa-angle-right"></i> Price: <span>$0.00 - $999.99</span></span>
                    <a href="#" class="close">×</a>
                </li>
                <li>
                    <span><i class="fa fa-angle-right"></i> Manufacturer: <span>Apple</span></span>
                    <a href="#" class="close">×</a>
                </li>
            </ul>
        </div>
        <div class="section">
            <h4 class="subtitle">Display Size</h4>
            <ul>
                <li><i class="fa fa-angle-right"></i> <a href="#">11-inch</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">13-inch</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">15-inch</a></li>
            </ul>
        </div>
        <div class="section">
            <h4 class="subtitle">Color</h4>
            <ul>
                <li><i class="fa fa-angle-right"></i> <a href="#">White</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Blue</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Green</a></li>
                @*<li><i class="fa fa-angle-right"></i>    <a asp-area="" asp-controller="Categorizes" asp-action="Index"> Categorizes </a></li>*@
            </ul>
        </div>
    </aside>
    <!-- .shop-by -->
    @*<aside class="widget list">
            <header>
                <h3 class="title">Manufacturers</h3>
            </header>
            <ul>
                <li><a href="#">Acer <span>(84)</span></a></li>
                <li><a href="#">Apple <span>(39)</span></a></li>
                <li><a href="#">Asus <span>(191)</span></a></li>
                <li><a href="#">Dell <span>(313)</span></a></li>
                <li><a href="#">Fujitsu <span>(50)</span></a></li>
                <li><a href="#">Lenovo <span>(220)</span></a></li>
                <li><a href="#">LG <span>(2)</span></a></li>
            </ul>
        </aside>*@

   
