
@{
    ViewData["Title"] = "ContactView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>ContactView</h1>*@

<section id="main">
    <header class="page-header">
        <div class="container">
            <h1 class="title">Thông tin liên hệ</h1>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="content col-sm-12 col-md-12">
                <div class="row">
                    <div class="col-sm-12 col-md-12 contact-info bottom-padding-mobile">
                        <div class="row">
                            <address class="col-sm-12 col-md-6">
                                <div class="title">Địa chỉ</div>
                                Xưởng Sx1: Đường ủy Ban mới - Hữu Bằng - Thạch Thất - Hà Nội<br />
                                Xưởng Sx2: Ba Toa - Hữu Bằng - Thạch Thất - Hà Nội
                            </address>
                            <address class="col-sm-6 col-md-3">
                                <div class="title">Điện thoại</div>
                                <div>Hỗ trợ:  098 388 8944 </div>
                                <div>Bán hàng: 097 528 8163</div>
                                @*<div>Director: +777 (100) 1243</div>*@
                            </address>
                            <address class="col-sm-6 col-md-3">
                                <div class="title">Địa chỉ email</div>
                                <div>Hỗ trợ: <a href="mailto:vietphuongan.f@gmail.com">vietphuongan.f@gmail.com</a></div>
                                <div>Bán hàng: <a href="mailto:vietphuongan.f@gmail.com">vietphuongan.f@gmail.com</a></div>
                                @*<div>Director: <a href="mailto:chief@example.com">chief@example.com</a></div>*@
                            </address>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="title">CÁCH THỨC MUA HÀNG</div>
                                <p>
                                    - Trực tiếp tại xưởng sản xuất, địa chỉ: HỮU BẰNG, THẠCH THẤT, HÀ NỘI<br />
                                    - Inbox <a href="https://www.facebook.com/VietPhuongAn/">Facebook Việt Phương An Furniture </a>, để lại thông tin để nhân viên của VIỆT PHƯƠNG AN tư vấn chi tiết<br />
                                    - Hotline: 097 528 8163 - Ms.Phương
                                </p>
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <div class="title">VIỆT PHƯƠNG AN FURNITURE</div>
                                <p>
                                    @*GIUỜNG DA VÀ SOFA CAO CẤP<br />*@
                                    - MIỄN PHÍ VẬN CHUYỂN VÀ LẮP ĐẶT NỘI THÀNH HÀ NỘI<br />
                                    - HỖ TRỢ VẬN CHUYỂN TỈNH LÊN ĐẾN 500.000Đ<br />
                                    - GIAO HÀNG TOÀN QUỐC
                                </p>
                            </div>
                        </div>
                        <hr>

                    </div>

                    @*<div class="col-sm-6 col-md-6">
            <form id="contactform" class="register-form contact-form" method="POST">
                <h3 class="title">Quick Contact</h3>
                <div id="success"></div>
                <label>Name: <span class="required">*</span></label>
                <input class="form-control" type="text" name="name">
                <label>Email Address: <span class="required">*</span></label>
                <input class="form-control" type="email" name="email">
                <label>Telephone:</label>
                <input class="form-control" type="text" name="phone">
                <label>Comment:</label>
                <textarea class="form-control" name="comment"></textarea>
                <div class="clearfix"></div>
                <div class="buttons-box clearfix">
                    <button id="submit" class="btn pull-left btn-default">Submit</button>
                    <span class="required"><b>*</b> Required Field</span>
                </div>
            </form>
        </div>*@
                    <div class="map-box col-sm-12 col-md-12">
                        <iframe src="https://maps.google.com/maps?q=ubnd%20h%E1%BB%AFu%20b%E1%BA%B1ng&t=&z=13&ie=UTF8&iwloc=&output=embed" height="270" style="border:0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .container -->
</section><!-- #main -->