@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<aside class="widget specials">
    <header>
        <h3 class="title">Sản phẩm mới</h3>
    </header>
    <ul>

        @for (int i = 0; i < Model.allSpecial.Count; i++)
        {
            @*<li><a href="#">@Model.allCategorizes[i].Name</a></li>*@
            <li class="clearfix">
                <a asp-area="" asp-controller="Detail" asp-action="Details" asp-route-id="@Model.allSpecial[i].Id"  class="product-image">
                    <img alt="Image" src="~/@Url.Content(Model.allSpecial[i].GImage.Path)" title="" width="64" height="64">

                </a>
                <h3 class="product-name">
                    <a href="product-view.html">@Model.allSpecial[i].Name</a>
                </h3>
                <div class="price-box">
                    <span class="price">@String.Format("{0:n0}", Model.allSpecial[i].Price) - VND</span>
                </div>
            </li>
        }
    </ul>
</aside><!-- .specials-->